@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,500,700&display=swap&subset=cyrillic');
@import "variables";
@import "normalize";

html {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Comfortaa', cursive;
  font-size: $default-font-size;
  background: $background-color;
  color: $text-color;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: $text-color;
  background-color: transparent;
}

hr {
  box-sizing: border-box;
  height: 0;
  overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: flex;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: $bold;
}

.-shadow {
  box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.2), 0 0.1rem 0.5rem 0 rgba(0, 0, 0, 0.13);
}

li {
  list-style: none;
}

section,
header,
footer {
  padding: 0 1.5rem;
}

.section-fluid,
.header-fluid,
.footer-fluid {
  padding: 0 0.625rem;
}

.card {
  margin: 0.5rem;
  background-color: $card-background;
  transition: all 0.2s linear;

  &:hover {
    box-shadow: 0 0.3rem 1.2rem 0 rgba(0, 0, 0, 0.2) 0 1px 15px 0 rgba(0, 0, 0, 0.19);

  }
}

.app-nav-bar {
  background: $primary-color;
  -webkit-box-shadow: 0 0.6rem 0.5rem 0 rgba(247, 255, 255, 0.5);
  -moz-box-shadow: 0 0.6rem 0.5rem 0 rgba(247, 255, 255, 0.5);
  box-shadow: 0 0.6rem 0.5rem 0 rgba(247, 255, 255, 0.5);
  &-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  &__logo {
    img {
      height: 6.0rem;
      width: 7.0rem;
    }
  }
  &__unversity_name {
    max-width: 70rem;
    text-align: center;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: $bold;
  }
  &__lang {
    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: white;
      cursor: pointer;
      width: 5rem;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 2px;
      text-align: center;
      font-size: 1.5em;
    }
  }
}

.app-tabs {
  background: $primary-color;
  &-links {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
  }
}

.form {
  display: grid;
  justify-content: center;
  margin-top: 24px;
  margin-bottom: 24px;
  color: white;
  input {
    background: $primary-color;
    border: 1px solid #ff871c;
    width: 31rem;
    height: 50px;
    font-size: 16px;
    padding-left: 50px;
  }
}

.card-content {
  display: flex;
  font-size: 12px;
  &__image {
    width: 100px;
    padding-left: 5px;
    padding-bottom: 5px;
    object-fit: cover;
  }
  &-text {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__title {
      font-weight: bold;
    }
    &__subtitle {
      font-weight: normal;
    }
  }
}

.book-list-card {
  width: 270px;
  height: 270px;
  position: relative;
  &:hover {
    .front {
      transform: perspective(600px) rotateY(-180deg);

    }

    .back {
      transform: perspective(600px) rotateY(0);

    }
  }
  .front,
  .back {
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: transform 0.4s ease;
    position: absolute;
  }
  .front {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: perspective(600px) rotateY(0);
    img {
      border-radius: 10px;
      width: 95%;
      height: 95%;
    }
  }
  .back {
    transform: perspective(600px) rotateY(180deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
  }
}

table {
  text-align: center;
  font-size: 0.9rem;
  display: grid;
  border-collapse: collapse;
  min-width: 100%;
  grid-template-columns:
    minmax(0.3rem, 0.33fr)
    minmax(0.9rem, 1fr)
    minmax(0.9rem, 2fr)
    minmax(0.9rem, 1fr)
    minmax(0.9rem, 1.33fr)
    minmax(0.9rem, 1fr)
    minmax(0.9rem, 1fr)
    minmax(0.9rem, 1fr)
    minmax(0.9rem, 0.67fr)
    minmax(0.9rem, 1fr)
    minmax(0.3rem, 0.67fr);
}
thead,
tbody,
tr {
  display: contents;
}
td,
th {
  padding: 0.5rem;
  overflow: hidden;
}
