@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,500,700&display=swap&subset=cyrillic');
@import "variables";

html {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Comfortaa', cursive;
  font-size: $default-font-size;
  background: $background-color;
  color: $text-color;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: $text-color;
  background-color: transparent;
}

hr {
  box-sizing: border-box;
  height: 0;
  overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: flex;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: $bold;
}

.-shadow {
  box-shadow: 0 0.063rem 0.125rem 0 rgba(0, 0, 0, 0.2), 0 0.063rem 0.313rem 0 rgba(0, 0, 0, 0.13);
}

li {
  list-style: none;
}

section,
header,
footer {
  padding: 0 0.938rem;
}

.section-fluid,
.header-fluid,
.footer-fluid {
  padding: 0 0.625rem;
}

.card {
  padding-top: 10px;
  margin-top: 20px;
  background-color: $card-background;
  transition: all 0.2s linear;
  &:hover {
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.2) 0 1px 15px 0 rgba(0, 0, 0, 0.19);
  }
}

.app-nav-bar {
  background: $primary-color;
  -webkit-box-shadow: 0 6px 5px 0 rgba(247, 255, 255, 0.5);
  -moz-box-shadow: 0 6px 5px 0 rgba(247, 255, 255, 0.5);
  box-shadow: 0 6px 5px 0 rgba(247, 255, 255, 0.5);
  &-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  &__logo {
    img {
      height: 72px;
      width: 96px;
    }
  }
  &__unversity_name {
    max-width: 700px;
    text-align: center;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 700;
  }
  &__lang {
    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: white;
      cursor: pointer;
      width: 70px;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 2px;
      text-align: center;
      font-size: 1em;
    }
  }
}

.app-tabs {
  background: $primary-color;
  &-links {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
  }
}

.form {
  display: grid;
  justify-content: center;
  margin-top: 24px;
  margin-bottom: 24px;
  color: white;
  input {
    background: $primary-color;
    border: 1px solid #ff871c;
    width: 500px;
    height: 50px;
    font-size: 16px;
    padding-left: 50px;
  }
}

.card-content {
  display: flex;
  font-size: 12px;
  &__image {
    width: 100px;
    padding-left: 5px;
    padding-bottom: 5px;
    object-fit: cover;
  }
  &-text {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__title {
      font-weight: bold;
    }
    &__subtitle {
      font-weight: normal;
    }
  }
}

table {
  width: 100%;
  text-align: center;
  font-size: 14px;
}

